@use "sass:math";
@use "global" as *;

.p-header {
  position: fixed;
  top: 0;
  left: 0;
  // bottom: myrem(50);
  width: 100%;
  height: myrem(100);
  background-color: $white_fff;
  z-index: 20;
  border-bottom: 1px solid $paleBlue_eff;
  box-shadow: 0 myrem(3) myrem(11) rgba($black_000, 0.13);
  @include mq(md) {
    height: myrem(48);
  }
}

.p-header__inner {
  width: 100%;
  height: 100%;
  padding: myrem(15) myrem(40) 0;
  @include mq(md) {
    padding: myrem(8) myrem(8) myrem(8) myrem(16);
  }
}

.p-header__aboveRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq(md) {
    background-color: $white_fff;
  }
}

.p-header__aboveLeft {
  display: flex;
  align-items: center;
  column-gap: myrem(20);
  @include mq(md) {
  }
}

.p-header__logoLink {
  display: block;
  width: myrem(156);
  height: myrem(28);
  @include mq(md) {
    width: myrem(109);
    height: myrem(20);
  }
}

.p-header__logoLink figure {
  display: block;
  width: 100%;
  height: 100%;
  @include mq(md) {
  }
}

.p-header__logoLink figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  @include mq(md) {
  }
}

.p-header__searchBox {
  width: myrem(313);
  @include mq(md) {
    display: none;
  }
}

.p-header__aboveRight {
  display: flex;
  align-items: center;
  column-gap: myrem(24);
  @include mq(md) {
    column-gap: myrem(8);
    align-items: stretch;
  }
}

.p-header__drawerBtn {
  display: none;
  cursor: pointer;
  @include mq(md) {
    display: flex;
    align-items: center;
    padding: 0 myrem(8);
    // background-color: pink;
  }
}

.p-header__drawerBtn figure {
  display: block;
  width: myrem(17);
  height: myrem(20);
}

.p-header__drawerBtn img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.p-header__cntctInfo {
  text-align: center;
  @include mq(md) {
    display: none;
  }
}

.p-header__tel {
  display: block;
  width: 100%;
  font-size: myrem(15);
  font-weight: 400;
  @include mq(md) {
  }
}

.p-header__bsnssHours {
  font-size: myrem(12);
  font-weight: 400;
  margin-top: myrem(5);
  @include mq(md) {
  }
}

.p-header__cntctBtnBox {
  display: flex;
  align-items: center;
  @include mq(md) {
  }
}

.p-header__cntctBtnBox a {
  display: block;
  font-size: myrem(15);
  font-weight: 500;
  color: $white_fff;
  background-color: $pink_e15;
  border-radius: myrem(4);
  padding: myrem(5.25) myrem(25);
  @include mq(md) {
    font-size: myrem(14);
    padding: myrem(5.5) myrem(16);
  }
}

.p-header__belowRow {
  @include mq(md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    overflow: scroll;
    background-color: $white_fff;
    padding-top: myrem(50);
    padding-bottom: myrem(80);
    z-index: 21;
    display: none;
  }
}

.p-header__drawerAbove {
  display: none;
  @include mq(md) {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: myrem(8);
    width: 100%;
    height: myrem(48);
    padding: myrem(8);
    box-shadow: 0 myrem(3) myrem(6) 0 rgba($black_000, 0.06);
    // background-color: green;
    z-index: 23;
  }
}

.p-header__drawerSearchForm {
  // border: 1px solid $gray_ddd;

  @include mq(md) {
    width: myrem(264);
  }
}

.p-header__closeBtn {
  display: block;
  width: myrem(25);
  height: myrem(25);
  cursor: pointer;
  position: relative;
}

.p-header__closeBtn span:first-of-type {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: myrem(20);
  height: 1px;
  background-color: $black_24;
}

.p-header__closeBtn span:last-of-type {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  content: "";
  width: myrem(20);
  height: 1px;
  background-color: $black_24;
}

.p-header__drawerBelow {
  @include mq(md) {
    width: 100%;
    height: auto;
  }
}

.p-header__drawerCntctBtn {
  display: none;
  @include mq(md) {
    display: flex;
    justify-content: center;
    margin-top: myrem(48);
  }
}

.p-header__drawerCntctBtn a {
  display: block;
  font-size: myrem(15);
  font-weight: 400;
  text-align: center;
  color: $white_fff;
  border-radius: myrem(4);
  background-color: $pink_e15;
  padding: myrem(13.5) myrem(38);
}

.p-header__nav {
  @include mq(md) {
    margin-top: myrem(16);
  }
}

.p-header__navLists {
  display: flex;
  align-items: normal;
  column-gap: myrem(5);
  @include mq(md) {
    flex-direction: column;
    padding: 0 myrem(24);
  }
}

.p-header__navItem {
  @include mq(md) {
    border-bottom: 1px solid $gray_ddd;
  }
}

.p-header__navItem a {
  display: block;
  font-size: myrem(15);
  font-weight: 400;
  padding: 0.2em 0.3em;
  @include mq(md) {
    font-weight: 400;
    letter-spacing: 0.05em;
    padding: myrem(16) 0 myrem(8);
    position: relative;
  }
}

.p-header__navItem a::after {
  @include mq(md) {
    position: absolute;
    top: 55%;
    bottom: auto;
    left: auto;
    right: 0;
    transform: translate(0, -50%) rotate(-45deg);
    display: block;
    content: "";
    width: myrem(10);
    height: myrem(10);
    border-bottom: 1px solid $black_24;
    border-right: 1px solid $black_24;
  }
}

.p-header__txnmyLists {
  display: none;
  @include mq(md) {
    display: block;
    width: 100%;
    padding: 0 myrem(24);
  }
}

.p-header__txnmyBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: myrem(16) 0 myrem(8);
  border-bottom: 1px solid $gray_ddd;
  cursor: pointer;
}

.p-header__txnmyName {
  font-size: myrem(15);
  font-weight: 600;
  letter-spacing: 0.05em;
  color: $blue_00A;
}

.p-header__txnmyAccdinBtn {
  display: block;
  width: myrem(17);
  height: myrem(17);
  border-radius: 50%;
  border: 1px solid $black_24;
  position: relative;
}

.p-header__txnmyAccdinBtn::before {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: myrem(10);
  height: 1px;
  background-color: $black_24;
}

.p-header__txnmyAccdinBtn::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  height: myrem(10);
  width: 1px;
  background-color: $black_24;
  transition: transform 0.3s ease-out;
}

.p-header__txnmyBox.drawerAccdinOpen .p-header__txnmyAccdinBtn::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.p-header__txnmyItem > .p-header__prntsTermLists {
  padding-left: myrem(20);
  display: none;
}

.p-header__prntsTermItem > a {
  display: block;
  font-size: myrem(14);
  font-weight: 500;
  letter-spacing: 0.005em;
  color: $blue_00A;
  padding: myrem(12) 0 myrem(12);
  border-bottom: 1px solid $gray_ddd;
  position: relative;
}

.p-header__prntsTermItem > a::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: 0;
  transform: translate(0, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: myrem(10);
  height: myrem(10);
  border-bottom: 1px solid $black_24;
  border-right: 1px solid $black_24;
}

.p-header__prntsTermItem > .p-header__termLists {
  padding-left: myrem(20);
}

.p-header__txnmyItem > .p-header__termLists {
  padding-left: myrem(40);
  display: none;
}

.p-header__termItem > a {
  display: block;
  font-size: myrem(14);
  font-weight: 500;
  letter-spacing: 0.005em;
  color: $black_24;
  padding: myrem(12) 0 myrem(12);
  border-bottom: 1px solid $gray_ddd;
  position: relative;
}

.p-header__termItem > a::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: 0;
  transform: translate(0, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: myrem(10);
  height: myrem(10);
  border-bottom: 1px solid $black_24;
  border-right: 1px solid $black_24;
}
