gulp/node_modules/
gulp/package-lock.json
douga-navi/assets/css/**/*/
douga-navi/assets/images/
.vscode
Douga-Navi-Coding/douga-navi/assets/css/**/*
Douga-Navi-Coding/gulp/node_modules/
Douga-Navi-Coding/douga-navi/assets/images/
package-lock.json
_woody.scss