@use "global" as *;

.l-breadcrumb {
  padding-top: myrem(10);
  padding-left: myrem(107);
  padding-right: myrem(107);
  margin-left: auto;
  margin-right: auto;
  @include mq("md") {
    padding: myrem(15) myrem(17) myrem(10);
  }
}
