@use "sass:math";
@use "global" as *;

.c-ctaBanner02 {
  padding: myrem(43) 0 myrem(37);
  background-color: $paleBlue_eff;
  background-image: url(../images/common/cta_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: myrem(4);
  overflow: hidden;
  @include mq(md) {
    padding: myrem(24);
  }
}

.c-ctaBanner02__copy {
  font-size: myrem(20);
  font-weight: 500;
  line-height: calc(3 / 2);
  width: myrem(209);
  margin-inline: auto;
  background-color: #fff;
  border-radius: myrem(22);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: myrem(9);
  margin-bottom: myrem(22);
  position: relative;
  @include mq("md") {
    font-size: myrem(14);
    line-height: calc(30 / 14);
    width: myrem(151);
    padding: myrem(6);
    margin-bottom: myrem(14);
  }
}

.c-ctaBanner02__copy::before {
  content: "";
  width: myrem(12);
  height: myrem(6);
  background-color: #fff;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: absolute;
  bottom: myrem(-6);
  left: 50%;
  transform: translateX(-50%);
}

.c-ctaBanner02__txt {
  font-size: myrem(20);
  font-weight: 500;
  text-align: center;
  color: #fff;
  @media screen and (max-width: 1150px) {
    font-size: calc(math.div(20, 1150) * 100vw);
  }
  @include mq(md) {
    font-size: myrem(14);
    font-weight: 500;
    text-align: left;
    line-height: calc(math.div(22, 14));
  }
}

.c-ctaBanner02__txt:not(:first-of-type) {
  @include mq(md) {
    margin-top: myrem(16);
  }
}

.c-ctaBanner02__btns {
  margin-top: myrem(24);
}

.c-ctaBanner02__btn {
  display: flex;
  justify-content: center;
  font-weight: 400;
  color: $white_fff;
  margin-top: myrem(36);
  @media screen and (max-width: 1150px) {
    margin-top: calc(math.div(36, 1150) * 100vw);
  }
  @include mq(md) {
    border-radius: myrem(4);
    margin-top: myrem(16);
  }
}

.c-ctaBanner02__btn a {
  display: flex;
  justify-content: center;
  font-size: myrem(16);
  font-weight: 400;
  color: $white_fff;
  background-color: $pink_e15;
  border-radius: myrem(4);
  padding: myrem(7.5) myrem(58);
  position: relative;
  @media screen and (max-width: 1150px) {
    font-size: calc(math.div(16, 1150) * 100vw);
    padding: calc(math.div(7.5, 1150) * 100vw) calc(math.div(58, 1150) * 100vw);
  }
  @include mq(md) {
    width: 100%;
    font-size: myrem(14);
    font-weight: 500;
    padding: myrem(9.5) myrem(10);
  }
}

.c-ctaBanner02__btn a::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: myrem(20);
  transform: translate(0, -50%) rotate(-45deg);
  display: block;
  content: "";
  width: myrem(10);
  height: myrem(10);
  border-bottom: 1px solid $white_fff;
  border-right: 1px solid $white_fff;
  @media screen and (max-width: 1150px) {
    right: calc(math.div(20, 1150) * 100vw);
    width: calc(math.div(10, 1150) * 100vw);
    height: calc(math.div(10, 1150) * 100vw);
  }
  @include mq(md) {
  }
}

.c-ctaBanner02 .c-labelPc {
  @include mq("md") {
    display: block;
  }
}

.c-ctaBanner02 .c-labelPc__body {
  @include mq("sm") {
    display: flex;
    flex-direction: column;
    max-width: myrem(300);
  }
}
.c-ctaBanner02 .c-labelPc__box {
  @include mq("md") {
    font-size: myrem(12);
    padding: myrem(4) myrem(6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.c-ctaBanner02 .c-labelPc__num {
  @include mq("md") {
    font-size: myrem(18);
  }
}
.c-ctaBanner02 .c-labelPc__text {
  @include mq("md") {
    font-size: myrem(12);
  }
}
.c-ctaBanner02 .c-labelPc__text02 {
  @include mq("md") {
    font-size: myrem(16);
  }
}
.c-ctaBanner02 .c-labelPc__text02 span {
  @include mq("md") {
    font-size: myrem(12);
  }
}

.c-ctaBanner02 .c-labelPc__tel,
.c-ctaBanner02 .c-labelPc__consult {
  @include mq("md") {
    display: flex;
    align-items: flex-start;
    padding: myrem(12);
  }
}

.c-ctaBanner02 .c-labelPc__tel::after,
.c-ctaBanner02 .c-labelPc__consult::after {
  @include mq("md") {
    width: myrem(20);
    height: myrem(20);
    right: myrem(10);
  }
}
