@use "sass:math";
@use "global" as *;

.c-card01 {
	display: flex;
	justify-content: space-between;
	// column-gap: myrem(51);
	@include mq(md) {
		flex-direction: column-reverse;
		row-gap: myrem(16);
	}
}

.c-card01__sntnc {
	width: calc(math.div(436, 810) * 100%);
	@include mq(md) {
		width: 100%;
	}
}

.c-card01__num {
	font-family: $font-second;
	font-size: myrem(16);
	font-weight: 700;
	color: $blue_00A;
	margin-bottom: myrem(8);
	@include mq(md) {
	}
}

.c-card01__ttl {
	font-size: myrem(18);
	font-weight: 500;
	letter-spacing: 0.005em;
	color: $black_000;
	margin-bottom: myrem(16);
	@include mq(md) {
		font-size: myrem(15);
		margin-bottom: myrem(8);
	}
}

.c-card01__txt {
	font-size: myrem(15);
	font-weight: 400;
	letter-spacing: 0.005em;
	line-height: calc(math.div(27, 15));
	color: $black_000;
	@include mq(md) {
		font-size: myrem(14);
	}
}

.c-card01__img {
	display: block;
	width: calc(math.div(313, 810) * 100%);
	height: auto;
	@include mq(md) {
		width: 100%;
	}
}

.c-card01__img img {
	display: block;
	width: 100%;
	height: auto;
	aspect-ratio: 313/177;
	@include mq(md) {
	}
}
