@use "sass:math";
@use "global" as *;

.p-flow {
	padding-top: myrem(140);
	background-color: $gray_fd;
	// background-color: red;
	@include mq(md) {
		padding-top: myrem(80);
	}
}

.p-flow__pageTtl {
	text-align: center;
	padding: myrem(75) 0;
	background-color: $white_fff;
	border: 1px solid $gray_ddd;
	@include mq(md) {
		padding: myrem(31) 0;
	}
}
