@use "sass:math";
@use "global" as *;

.p-flowUse {
	padding-top: myrem(80);
	padding-bottom: myrem(80);
	@include mq(md) {
		padding-top: myrem(25);
		padding-bottom: myrem(45);
	}
}

.p-flowUse__ttl {
	text-align: center;
	@include mq(md) {
	}
}

.p-flowUse__cardWrppr {
	width: 100%;
	max-width: myrem(810);
	display: flex;
	column-gap: myrem(27);
	margin: myrem(40) auto 0;
	@include mq(md) {
		flex-direction: column;
		row-gap: myrem(40);
		width: calc(math.div(198, 280) * 100%);
		margin: myrem(20) auto 0;
	}
}

.p-flowUse__cardBox {
	width: calc(math.div(1, 3) * 100% - myrem(18));
	@include mq(md) {
		width: 100%;
	}
}
