@use "global" as *;
.p-404__wrap {
  margin-top: myrem(80);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: myrem(80);
}

.p-404__img {
  width: 100%;
  height: myrem(450);
  margin-top: myrem(140);
  @include mq("md") {
    margin-top: myrem(90);
  }
}

.p-404__img picture,
.p-404__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-404__head {
  text-align: center;
  font-size: myrem(80);
  font-weight: bold;
  font-family: $font-main;
  @include mq("md") {
    font-size: myrem(40);
  }
}
.p-404__body {
  text-align: center;
  max-width: myrem(800);
  justify-content: center;
  margin-top: myrem(40);
  margin-left: auto;
  margin-right: auto;
}
.p-404__text {
  line-height: 2;
}

.p-404__text span {
  display: inline-block;
}
