@use "global" as *;

.p-form-checkbox label {
  display: inline-block;
  @include mq(md) {
    display: block;
  }
}

.p-form-checkbox label:not(:first-of-type) {
  margin-top: 0;
  @include mq(md) {
    margin-top: myrem(10);
    margin-left: myrem(20);
  }
}

.p-form-checkbox input {
  display: none;
}

.p-form-checkbox input + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 myrem(25);
  position: relative;
  font-size: myrem(15);
  line-height: 1;
}

.p-form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  width: myrem(15);
  height: myrem(15);
}

.p-form-checkbox input + span::after {
  content: "";
  margin-top: myrem(-2);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: myrem(15);
  height: myrem(8);
  border-bottom: myrem(3) solid #000;
  border-left: myrem(3) solid #000;
  transition: 0.3s;
  opacity: 0;
}

.p-form-checkbox input:checked + span::after {
  opacity: 1;
}
