@use "global" as *;
.p-form-select select {
  padding: myrem(11.5) myrem(50) myrem(11.5) myrem(15);
  width: 100%;
  font-size: myrem(15);
  line-height: 1;
  border-radius: 0;
  border: 1px solid #ccc;
  background-image: url(./../images/common/arrow.svg);
  background-repeat: no-repeat;
  background-size: myrem(15);
  background-position: right myrem(15) top myrem(15);
  appearance: none;
  cursor: pointer;
}

.p-form-select select::-ms-expand {
  display: none;
}

.p-form-select select:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
}
