@use "global" as *;
.p-form-textarea {
  width: 100%;
}
.p-form-textarea textarea {
  font-size: myrem(15);
  padding: myrem(8) myrem(15);
  width: 100%;
  height: myrem(202);
  border-radius: 0;
  border: 1px solid #707070;
  appearance: none;
  background-color: transparent;
  background-image: none;
  @include mq("md") {
    height: myrem(105);
  }
}

.p-form-textarea textarea:focus {
  border: 1px solid #707070;
  box-shadow: none;
  outline: none;
}
