@use "global" as *;

.p-form-checkbox {
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(16);
  row-gap: myrem(16);
  @include mq("md") {
    display: block;
    gap: initial;
  }
}

.p-form-checkbox label {
  display: inline-block;
  @include mq(md) {
    display: block;
  }
}

.p-form-checkbox label:not(:first-of-type) {
  margin-top: 0;
  @include mq(md) {
    margin-top: myrem(3);
  }
}
// }
// .p-form-checkbox label:nth-of-type(n + 2) {
//   @include mq(md) {
//     margin-top: myrem(10);
//     margin-left: myrem(20);
//   }
// }

.p-form-checkbox input {
  display: none;
}

.p-form-checkbox input + span {
  font-size: myrem(15);
  line-height: 1;
  letter-spacing: 0.05em;
  display: inline-block;
  padding: 0 0 0 myrem(30);
  position: relative;
  cursor: pointer;
  @include mq("md") {
    line-height: calc(24 / 15);
  }
}

.p-form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  display: block;
  width: myrem(20);
  height: myrem(20);
  @include mq("md") {
    top: myrem(3);
    transform: initial;
  }
}

.p-form-checkbox input + span::after {
  content: "";
  margin-top: myrem(-2);
  position: absolute;
  top: 50%;
  left: myrem(2);
  transform: translateY(-50%) rotate(-45deg);
  display: block;
  width: myrem(15);
  height: myrem(8);
  border-bottom: myrem(3) solid #000;
  border-left: myrem(3) solid #000;
  transition: 0.3s;
  opacity: 0;
  @include mq("md") {
    top: myrem(10);
    transform: rotate(-45deg);
  }
}

.p-form-checkbox input:checked + span::after {
  opacity: 1;
}
