@use "sass:math";
@use "global" as *;

.p-about {
	padding-top: myrem(137);
	@include mq(md) {
		padding-top: myrem(80);
	}
}

.p-about__bgPaleBlue {
	background-color: $paleBlue_eff;
	@include mq(md) {
	}
}

.p-about__QA {
	margin-top: myrem(80);
	@include mq(md) {
		margin-top: myrem(40);
	}
}

