@use "sass:math";
@use "global" as *;

.p-aboutQA {
	padding-bottom: myrem(80);
}

.p-aboutQA__ttl {
	text-align: center;
}

.p-aboutQA__lists {
	width: 100%;
	max-width: myrem(810);
	margin: myrem(32) auto 0;
}

.p-aboutQA__item {
	border-bottom: 1px solid $blue_00A;
	padding: myrem(16) 0;
}

.p-aboutQA__item:first-of-type {
	border-top: 1px solid $blue_00A;
}

.p-aboutQA__question {
	font-size: myrem(15);
	font-weight: 400;
	letter-spacing: 0.005em;
	line-height: calc(math.div(27, 15));
	color: $black_000;
}

.p-aboutQA__number {
	font-size: myrem(18);
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: calc(math.div(36, 18));
	color: $black_24;
	margin-right: myrem(10);
}

.p-aboutQA__answer {
	font-size: myrem(15);
	font-weight: 400;
	letter-spacing: 0.005em;
	line-height: calc(math.div(27, 15));
	color: $gray_777;
	margin-top: myrem(16);
	margin-left: myrem(42);
}
