@use "sass:math";
@use "global" as *;

.p-aboutExmpl {
  padding-top: myrem(85);
  padding-bottom: myrem(32);
  position: relative;
  @include mq(md) {
    padding-top: myrem(48);
  }
}

.p-aboutExmpl::after {
  content: "";
  max-width: myrem(808);
  width: 100%;
  height: 1px;
  background-color: #00a0e1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.p-aboutExmpl__ttl {
  text-align: center;
  @include mq(md) {
  }
}

.p-aboutExmpl__cardWrppr {
  width: 100%;
  max-width: myrem(810);
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(19.5);
  row-gap: myrem(24);
  margin: myrem(50) auto 0;
  @include mq(md) {
    flex-direction: column;
    margin: myrem(24) auto 0;
  }
}

.p-aboutExmpl__movieCard {
  width: calc(math.div(1, 3) * 100% - myrem(13));
  height: auto;
  @include mq(md) {
    width: 100%;
  }
}

.p-aboutExmpl__movieCard figure {
  display: block;
  width: 100%;
  height: auto;
  @include mq(md) {
  }
}

.p-aboutExmpl__movieCard iframe {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 258/145;
  @include mq(md) {
    aspect-ratio: 272/153;
  }
}

.p-aboutExmpl__cardTxt {
  font-size: myrem(15);
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: calc(math.div(27, 15));
  color: $black_000;
  margin-top: myrem(13);
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  @include mq(md) {
    font-size: myrem(14);
    margin-top: myrem(10);
    -webkit-line-clamp: 3;
  }
}
