@use "sass:math";
@use "global" as *;

.p-aboutNavi {
	padding-top: myrem(65);
	padding-bottom: 0;
	@include mq(md) {
		padding-top: myrem(31);
  padding-bottom: 0;
	}
}

.p-aboutNavi__ttl {
	text-align: center;
	@include mq(md) {
	}
}

.p-aboutNavi__txtWrppr {
	max-width: myrem(810);
	width: 100%;
	margin: myrem(36) auto 0;
	@include mq(md) {
		margin: myrem(24) auto 0;
	}
}

.p-aboutNavi__txt {
	font-size: myrem(15);
	font-weight: 400;
	letter-spacing: 0.05em;
	line-height: calc(math.div(27, 15));
	color: $black_000;
	@include mq(md) {
	}
 font-size: myrem(14);
}

.p-aboutNavi__txt:not(:first-of-type) {
	margin-top: myrem(16);
	@include mq(md) {
	}
}
