@use "sass:math";
@use "global" as *;

.p-aboutPrblm {
	padding-top: myrem(45);
	padding-bottom: myrem(110);
}

.p-aboutPrblm__ttl {
	text-align: center;
}

.p-aboutPrblm__ttl span {
	display: inline-block;
	position: relative;
	padding-bottom: myrem(8);
}

.p-aboutPrblm__ttl span::after {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	right: auto;
	transform: translate(0, 0);
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: $blue_00A;
	border-radius: myrem(2);
}

.p-aboutPrblm__cardWrppr {
	display: flex;
	column-gap: myrem(27);
	width: 100%;
	max-width: myrem(810);
	margin: myrem(48) auto 0;
}

.p-aboutPrblm__cardBox {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: myrem(23);
	width: calc(math.div(1, 3) * 100% - myrem(18));
}

.p-aboutPrblm__cardTtl {
	font-size: myrem(18);
	font-weight: 500;
	letter-spacing: 0.005em;
	line-height: calc(math.div(27, 18));
	color: $black_000;
	text-align: center;
}

.p-aboutPrblm__cardImg {
	display: block;
	width: myrem(120);
	height: auto;
}

.p-aboutPrblm__cardImg img {
	display: block;
	width: 100%;
	height: 100%;
}

.p-aboutPrblm__cardTxt {
	font-size: myrem(15);
	font-weight: 400;
	line-height: calc(math.div(27, 15));
	letter-spacing: 0.005em;
	color: $black_000;
}
