@use "global" as *;
@use "sass:math";

.p-search-detail__inner {
  display: flex;
  column-gap: calc(math.div(40, 1056) * 100%);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(1006px + $padding-pc * 2);
  padding-right: myrem(strip-unit($padding-pc));
  padding-left: myrem(strip-unit($padding-pc));
  @include mq(md) {
    padding-right: myrem(strip-unit($padding-sp));
    padding-left: myrem(strip-unit($padding-sp));
  }
}
