@use "global" as *;

.p-form-radio label {
  display: inline-block;
  @include mq(md) {
    display: block;
  }
}

.p-form-radio label:not(:first-of-type) {
  margin-top: 0;
  @include mq(md) {
    margin-top: myrem(10);
    margin-left: myrem(30);
  }
}

.p-form-radio input {
  display: none;
}

.p-form-radio input + span {
  padding: 0 0 0 myrem(25);
  position: relative;
  display: inline-block;
  font-size: myrem(15);
  line-height: 1;
  cursor: pointer;
  @include mq(md) {
    display: block;
  }
}

.p-form-radio input + span::before {
  content: "";
  width: myrem(15);
  height: myrem(15);
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.p-form-radio input + span::after {
  content: "";
  padding: myrem(2);
  width: myrem(7);
  height: myrem(7);
  position: absolute;
  top: 50%;
  left: myrem(4);
  transform: translateY(-50%);
  border: 1px solid transparent;
  border-radius: 50%;
  background: #000;
  opacity: 0;
  transition: 0.3s;
}

.p-form-radio input:checked + span::after {
  opacity: 1;
}
