@use "global" as *;

// ハンバーガーメニュー========
.p-header__hamburger {
  @include mq("md") {
    width: myrem(47);
    height: myrem(47);
    background-color: pink;
    position: relative;
    z-index: 990;
    cursor: pointer;
    margin-left: myrem(10);
  }
  @media screen and (max-width: 350px) {
    margin-left: myrem(2);
  }
}
.p-header__hamburger span {
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.5s;
}

.p-header__hamburger span:first-child {
  top: 5%;
}
.p-header__hamburger span:nth-child(2) {
  top: 40%;
}
.p-header__hamburger span:nth-child(3) {
  top: 72%;
}

/* ナビ開いてる時のバツボタン */

.js-hamburger.active span:first-child {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.js-hamburger.active span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.js-hamburger.active span:nth-child(3) {
  visibility: hidden;
  opacity: 0;
}
