@use "sass:math";
@use "global" as *;

.p-frntSrch__ttl {
	font-size: myrem(20);
	font-weight: 600;
	letter-spacing: 0.05em;
	color: $blue_00A;
	padding-bottom: myrem(8);
	border-bottom: 1px solid $gray_ddd;
}

.p-frntSrch__txnmy {
	margin-top: myrem(24);
}
