@use "sass:math";
@use "global" as *;

.p-frntSrchTxnmy__ttl {
	font-size: myrem(15);
	font-weight: 600;
	letter-spacing: 0.05em;
	color: $blue_00A;
	@include mq(md) {
	}
}

.p-frntSrchTxnmy__lists {
	display: flex;
	flex-wrap: wrap;
	column-gap: myrem(15);
	row-gap: myrem(15);
	margin-top: myrem(16);
	@include mq(md) {
		flex-direction: column;
		row-gap: myrem(10);
	}
}

.p-frntSrchTxnmy__item {
	// width: myrem(267);
	width: calc(math.div(1, 3) * 100% - myrem(10));
	height: auto;
	min-height: myrem(61);
	// display: flex;
	// align-items: center;
	// justify-content: space-between;
	// column-gap: myrem(9);
	// border-radius: myrem(5);
	// border: 1px solid $gray_ddd;
	// padding: myrem(7) myrem(16) myrem(7) myrem(16);
	// @media screen and (max-width: 1150px) {
	// 	width: calc(50% - myrem(7.5));
	// }
	@include mq(md) {
		width: 100%;
		// column-gap: myrem(16);
	}
}

.p-frntSrchTxnmy__item a {
	// width: myrem(267);
	width: 100%;
 min-height: myrem(61);
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: myrem(9);
	border-radius: myrem(5);
	border: 1px solid $gray_ddd;
	padding: myrem(7) myrem(16) myrem(7) myrem(16);
	// @media screen and (max-width: 1150px) {
	// 	width: calc(50% - myrem(7.5));
	// }
	@include mq(md) {
		width: 100%;
		column-gap: myrem(16);
	}
}

.p-frntSrchTxnmy__item p {
	font-size: myrem(14);
	font-weight: 500;
	letter-spacing: 0.005em;
	flex: 1;
	@include mq(md) {
	}
}

.p-frntSrchTxnmy__img {
	display: block;
	width: myrem(72);
	height: myrem(45);
	@include mq(md) {
	}
}

.p-frntSrchTxnmy__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	@include mq(md) {
	}
}
