@use "sass:math";
@use "global" as *;

.p-frntFv {
}

.p-frntFv__SwiperBox {
	position: relative;
	@include mq(md) {
	}
}

.p-frntFv__swiperSlide {
	width: 100%;
	height: auto;
	aspect-ratio: 837 / 308;
	border-radius: myrem(5);
	@include mq(md) {
		aspect-ratio: 320 / 361;
		border-radius: 0;
	}
}

.p-frntFv__swiperSlide picture,
.p-frntFv__swiperSlide img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: myrem(5);
	@include mq(md) {
  border-radius: 0;
 }
}

.p-frntFv__swiperPgntin.swiper-pagination {
	position: absolute;
	top: auto;
	bottom: myrem(-25);
	left: 0;
	right: auto;
	transform: translate(0, 100%);
	@include mq(md) {
	}
}

.p-frntFv__swiperPgntin.swiper-pagination-bullets .swiper-pagination-bullet {
	width: myrem(12);
	height: myrem(12);
	background-color: $white_fff;
	border: 2px solid $black_70;
	margin: 0 myrem(8);
	@include mq(md) {
		width: myrem(10);
		height: myrem(10);
	}
}

.p-frntFv__swiperPgntin .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $black_03;
	border: 1px solid $black_03;
	@include mq(md) {
	}
}
