@use "sass:math";
@use "global" as *;

.p-srchRslt {
	display: flex;
	flex-wrap: wrap;
	column-gap: myrem(22.5);
	row-gap: myrem(32);
}

.p-srchRslt__card {
	width: calc(math.div(1, 3) * 100% - math.div(15, 930) * 100%);
}

.p-srchRslt__cardMovie {
	width: 100%;
	height: auto;
	aspect-ratio: 296 / 167;
}

.p-srchRslt__cardMovie iframe {
	width: 100%;
	height: 100%;
}

.p-srchRslt__cardTxt {
	font-size: myrem(15);
	font-weight: 400;
	letter-spacing: 0.005em;
	line-height: calc(math.div(27, 15));
	color: $black_000;
	margin-top: myrem(15);
}
