@use "sass:math";
@use "global" as *;

.p-srchRslt__show {
  display: flex;
  align-items: center;
  column-gap: myrem(30);
}

.p-srchRslt__count {
  font-size: myrem(15);
}

.p-srchRslt__count--large {
  display: inline-block;
  font-size: myrem(20);
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: myrem(5);
}

.p-srchRslt__sortWrppr {
  position: relative;
}

.p-srchRslt__sortHeading {
  font-size: myrem(15);
  font-weight: 400;
  border-radius: myrem(4);
  background-color: $paleBlue_eff;
  background-image: url(../images/icon-sort.webp);
  background-repeat: no-repeat;
  background-size: myrem(14) myrem(14);
  background-position: myrem(12) center;
  cursor: pointer;
  padding: myrem(8) myrem(12) myrem(8) myrem(34);
}

.p-srchRslt__sortSelect {
  position: absolute;
  top: auto;
  bottom: 1px;
  left: 0;
  right: auto;
  transform: translate(0, 100%);
  display: none;
  width: max-content;
  height: auto;
  background-color: transparent;
  padding-top: myrem(8);
  box-shadow: 0 myrem(5) myrem(6) 0 rgba($black_000, 0.16);
  margin: 0;
}

.p-srchRslt__sortList {
  width: max-content;
  height: auto;
  background-color: $white_fff;
  border-radius: myrem(2);
  padding: myrem(8);
}

.p-srchRslt__sortItem {
  width: 100%;
  height: auto;
  text-align: left;
}

.p-srchRslt__sortItem + .p-srchRslt__sortItem {
  margin-top: myrem(8);
}

.p-srchRslt__sortItem label {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.p-srchRslt__sortItem input,
.p-srchRslt__sortItem button {
  display: block;
  width: 100%;
  height: auto;
  font-size: myrem(15);
  font-weight: 400;
  text-align: left;
  border-radius: myrem(4);
  border: none;
  background-color: $gray_f5;
  cursor: pointer;
  padding: myrem(8) myrem(56) myrem(8) myrem(8);
}

.p-srchRslt__sortItem button {
  color: $black_000;
}

.p-srchRslt__Wrppr {
  display: flex;
  flex-wrap: wrap;
  column-gap: myrem(22.5);
  row-gap: myrem(32);
  margin-top: myrem(30);
  // @media screen and (max-width: 950px) {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @include mq(md) {
    display: flex;
    flex-direction: column;
    row-gap: myrem(24);
  }
}

.p-srchRslt__card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: calc(math.div(1, 3) * 100% - math.div(15, 930) * 100%);
  // @media screen and (max-width: 950px) {
  //   width: 100%;
  // }

  @include mq(md) {
    width: 100%;
  }
}

.p-srchRslt__cardMovie {
  width: 100%;
  height: auto;
  // aspect-ratio: 296 / 167;
  aspect-ratio: 296 / 185;
  min-height: 185px;
  // @media screen and (max-width: 950px) {
  //   aspect-ratio: 1 / 1;
  // }

  @include mq(md) {
    aspect-ratio: 296 / 185;
  }
}

.p-srchRslt__cardMovie iframe {
  display: block;
  width: 100%;
  height: 100%;
  @include mq(md) {
  }
}

.ytp-chrome-top,
.ytp-chrome-bottom {
  display: none;
}

.p-srchRslt__card a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.p-srchRslt__cardTxt {
  font-size: myrem(15);
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: calc(math.div(27, 15));
  color: $black_000;
  margin-top: myrem(15);
  flex: 1;
  @include mq(md) {
    font-size: myrem(14);
    line-height: calc(math.div(22, 14));
    margin-top: myrem(10);
  }
}

.p-srchRslt__industrory,
.p-srchRslt__price {
  font-size: myrem(15);
  margin-top: myrem(5);
}

.p-srchRslt__industrory span,
.p-srchRslt__price span {
  display: inline-block;
  background-color: $paleBlue_eff;
  border-radius: myrem(4);
  padding: myrem(3) myrem(10);
}

.p-srchRslt__toDetail {
  margin-top: myrem(16);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: myrem(10);
  @include mq("md") {
    font-size: myrem(14);
  }
}

.p-srchRslt__toDetail::after {
  content: "";
  width: myrem(10);
  height: myrem(10);
  border-top: 1px solid $black_000;
  border-right: 1px solid $black_000;
  transform: rotate(45deg);
  display: inline-flex;
  margin-left: myrem(16);
}
