@use "sass:math";

// 関数設定

// pxからremへの計算式
// 例：myrem(32) → 2rem
@function myrem($pixels) {
	@return math.div($pixels, 16) * 1rem;
}

// 数値のみを取り出す
// 例：strip-unit(16px) → 16
@function strip-unit($number) {
	@if type-of($number) == "number" and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}
	@return $number;
}

// フォントサイズ ÷ 画面幅 * 100vw の計算
// 例：vw(1250px, 16px) → 16px ÷ 1250px × 100vw
@function vw($window_width, $size) {
	@return math.div($size, $window_width) * 100vw;
}

// インナー幅
$innerWidth: 930px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

// フォント
$font-main: "Noto Sans JP", sans-serif;
$font-second: "Oswald", sans-serif;

// 色指定
$white_fff: #fff;
$white_fd: #fff;
$black_000: #000;
$black_24: #242422;
$gray_777: #777;
$gray_ddd: #ddd;
$blue_00A: #00a0e1;
$paleBlue_eff: #eff3f6;
$pink_e15: #e15689;

// ブレイクポイント
$breakpoints: (
	sm: 600,
	md: 767,
	lg: 1024,
	xl: 1440,
);

// メディアクエリ
$mediaquerys: (
	sm: "screen and (max-width: #{map-get($breakpoints,'sm')}px)",
	md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
	lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
	xl: "screen and (max-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
	@media #{map-get($mediaquerys, $mediaquery)} {
		@content;
	}
}
